body{
    background-color: darkblue;
    display: block;
    box-sizing: border-box;
}
.success-box{
    margin-left: 500px;
    margin-right:500px;
    margin-top:200px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 30pt;

}
#success{
    margin-left: 550px;
    margin-right:500px;
    font-size:15pt;
    color: white;

}
#tick{
    height: 300px;
    width: 300px;
    border-radius: 30pt;
}